{% extends 'catalog/base.html' %}

{% block content %}

<form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                    Восстановление пароля
                </h2>
            </div>
            <div class="card-body">
                <h5>
                    Введите ваш email, вам на почту придет письмо с новым паролем)))
                </h5>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Подтвердить</button>
    </div>
</div>
</form>
{% endblock %}