{% extends 'catalog/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить продукт</a>
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object|title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- {{ object.description|truncatechars:100 }}</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary" >View</a>
                    <a href="{% url 'catalog:edit' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary" >Edit</a>
                    <a href="{% url 'catalog:delete' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<h4 class="my-0 mr-md-auto font-weight-normal">Пожалуйста, войдите в свой профиль для просмотра продуктов.</h4>

{% endif %}

{% endblock %}
