{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
    </div>
    <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ name }}</text></svg> -->

    <img class="card-img-top"

         src="{{ object.image|mymedia }}"
         alt="Card image cap">
    <h3 class="fs-2 text-body-emphasis">{{ object.title }}</h3>
    <p>{{ object.description }}</p>
    <p>Категория: {{ object.category }}</p>
    <p>Цена: {{ object.price }}</p>
    <p>Дата создания: {{ object.date_of_creation }}</p>
    <a href="#" class="icon-link">
        Купить
    </a>
</div>


{% endblock %}